@import "tailwindcss";
* {
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --azul-marinho-real: #1a2b4c;
  --cinza-grafite: #333333;
  --dourado-champange: #c5a059;
  --font-heading: var(--font-manrope);
  --font-body: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
  letter-spacing: -0.025em;
}
.cta-button {
  background-color: var(--dourado-champange);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}
.heroMaster {
  background-image: url(/my-app/public/hero.png);
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}
